<form #myForm="ngForm" class="form-register">
  <h3 class="form-title">My account</h3>
  <div class="form-register--input">
    <label for="name">Name</label>
    <input type="text" #nameInput="ngModel" required id="name" name="name" [(ngModel)]="register.name">
  </div>
  <div class="form-register--input">
    <label for="email">Email</label>
    <input type="email" #emailInput="ngModel" required id="email" name="email" [(ngModel)]="register.email">
  </div>
  <div class="form-register--input">
    <label for="password">Password</label>
    <input type="password" #passwordInput="ngModel" required id="password" name="password" [(ngModel)]="register.password">
  </div>
  <button [disabled]="myForm.invalid" type="submit" class="form-button form-login">Login</button>
  <a href="/" class="form-forgot">Forgot my password</a>
  <button class="form-button form-signup">Sign up</button>
</form>

